$font-family-Montserrats:'Montserrat', sans-serif;
$font-family-Roboto:'Roboto', sans-serif;;
$color-violet:#572EE5;
$color-green:#50E3C2;
$color-hover: #9CAFC3;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light{
    color:$color-violet;
}




.menu-line-hover{
    background-color: $color-violet;
    height: 5px;
}

.menu-header{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    .menu-mobile-logo, #menu-mobile, .menu-mobile-cross{
        display: none;
    }

    .menu-items{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            padding: 16px;
            .anchor{
                font-family: $font-family-Montserrats;
                color: $color-violet;
                font-weight: 700;
                font-size: 13px;
                text-decoration: none;
            }
            &:hover{
                border-bottom: solid 2px $color-green;
            }
            .anchor:active{
                color: $color-hover;
            }
            .anchor-dark{
                color: white;
            }
        }
    }
}


.section-serch{
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-section-serch{
        font-family: $font-family-Montserrats;
        font-size: 35px;
        text-align: center;
        padding: 20px;
        .span-title-section{
            color: $color-green;
        }
    }
    .cuadro-de-busqueda{
        width: 100%;
        border:solid 1px $color-violet;
        transform: translateY(-4px);
        border-radius: 27px;
        // display: flex;
        // justify-content: center;
        form .input-search{
            width: 345px;
            margin-left: 20px;
            background-image: url(../img/icon-search.svg);
            background-repeat: no-repeat;
            background-position: right;
            border: none;
            padding: 13px;
        }
        form .input-search:focus{
            background-image: url(../img/icon-search.svg);
            background-repeat: no-repeat;
            background-position: right;
            border: none;
            padding: 13px;
            outline:none;
            outline-width: 0;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
        .suggestions{
            padding: 5px 27px;
            .suggestion{
                // border-top: solid 1px rgb(158, 158, 158);
                padding: 7px;
                color:rgb(158, 158, 158) ;
            }
            .suggestion:hover{
                background-color: #9CAFC3;
                color: #FFFFFF;
                cursor: pointer;
            }
        }
    }
}


.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:50px;
    font-family: $font-family-Montserrats;
    text-align: center;
    h3{
        font-size: 16px;
        margin:10px;
    }
    p{
        font-size: 14px;
        margin-bottom: 30px;
    }
    .render-gifs{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        grid-gap:10px;
        .main-render-img{
            width: 260px;
            height: 200px;
            background-color: rgb(243, 243, 243);
            position: relative;
            .img{
                width: 260px;
                height: 200px;
                z-index: 0;
                position: relative;
            }
            .violet{
                width: 260px;
                height: 200px;
                background-color: $color-violet;
                transform: translateY(-204px);
                opacity: 0.6;
                z-index: 1;
                position: absolute;
                display: none;
            }
            .comand-gif{
                display: none;
                justify-content: flex-end;
                // position: absolute;
                transform: translateY(-200px);
                position: relative;
                z-index: 20;
                .liked-gif{
                    width: 32px;
                    height: 32px;
                    margin: 4px;
                    background-image: url(../img/icon-fav.svg);
                }
                .liked-gif:hover{
                    background-image: url(../img/icon-fav-hover.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .download-gif{
                    width: 32px;
                    height: 32px;
                    margin: 4px;
                    background-image: url(../img/icon-download.svg);
                }
                .download-gif:hover{
                    background-image: url(../img/icon-download-hover.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .expand-gif{
                    width: 32px;
                    height: 32px;
                    margin: 4px;
                    background-image: url(../img/icon-max-normal.svg);
                }
                .expand-gif:hover{
                    background-image: url(../img/icon-max-hover.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            .info-gif{
                display: none;
                flex-direction: column;
                text-align: left;
                margin-top: 85px;
                transform: translateY(-200px);
                z-index: 20;
                position: relative;
                .user-gif{
                    margin: 4px 12px;
                }
                .titulo-gif{
                    margin: 4px 12px;
                    font-weight: bold;
                }
            }
        
            // .img:hover ~.comand-gif,
            // .img:hover ~.info-gif{
            //     display: flex;
            // }
        }
        .main-render-img:hover .violet{
            display: block;
        }
        .main-render-img:hover .comand-gif, .main-render-img:hover .info-gif{
            display: flex;
        }
        
    }

    .div-button{
        .button-ver-mas-class{
            margin: 40px auto 40px auto;
            background-color: white;
            border: solid 1px $color-violet;
            border-radius: 20px;
            padding: 10px 25px 10px 25px;
            color: $color-violet;
            outline:none;
            outline-width: 0;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            
        }
        .button-ver-mas-class:hover{
            background-color:$color-violet;
            border-radius: 20px;
            padding: 10px 25px 10px 25px;
            color: white;
            cursor: pointer;
        }
    }
}

.trending-section{
    width: 100%;
    background-color: #F3F5F8;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding-bottom: 150px;

    .trending-section-titles{
        margin:50px;
        font-family: $font-family-Montserrats;
        h3{
            font-size: 16px;
            margin:10px;
        }
        p{
            font-size: 14px;
        }
    }
    .trending-section-container{
        width: 95%;
        margin:auto;
        .trending-section-slider{
            display: flex;
            justify-content: space-evenly;
            .button-slider-left{
                width: 40px;
                height: 40px;
                padding: 20px;
                align-self: center;
                background-image: url(../img/button-slider-left.svg);
            }
            .button-slider-left:hover{
                background-image: url(../img/button-slider-left-hover.svg);
            }
            .button-slider-right{
                width: 40px;
                height: 40px;
                padding: 20px;
                align-self: center;
                background-image: url(../img/button-slider-right.svg);
            }
            .button-slider-right:hover{
                background-image: url(../img/button-slider-right-hover.svg);
            }
            .container-trends{
                display: flex;
                justify-content: space-between;
                width: 1071px;
                overflow-x: hidden;
                .render-gif{
                    width:357px;
                    height:275px;
                }
            }
        }
    }
}

.trending-dark{
    background-color:#222326;
}


.dark{
    background-color: #3b3b3b;
    color: #FFFFFF;
}


.footer{
    width: 80%;
    margin:40px auto;
    display: flex;
    justify-content:space-between;
    font-family: $font-family-Roboto;
    font-size:13px;
    color: black;
    .footer-social-medias{
        display: flex;
        align-items: center;
        justify-content: right;
        .footer-icono-facebook{
            width: 10px;
            height: 20px;
            padding: 20px;
            background-image: url(../img/icon_facebook.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        .footer-icono-facebook:hover{
            background-image: url(../img/icon_facebook_hover.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        .footer-icono-twitter{
            width: 10px;
            height: 20px;
            padding: 20px;
            background-image: url(../img/icon-twitter.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        .footer-icono-twitter:hover{
            background-image: url(../img/icon-twitter-hover.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        .footer-icono-instagram{
            width: 10px;
            height: 20px;
            padding: 20px;
            background-image: url(../img/icon_instagram.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        .footer-icono-instagram:hover{
            background-image: url(../img/icon_instagram-hover.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .footer-rights{
        display: flex;
        align-items: center;
        color: black;
    }
}



// ------  ------  ------ MEDIA QUERIES  ------  ------  ------
// ------  ------  ------ MEDIA QUERIES  ------  ------  ------
// ------  ------  ------ MEDIA QUERIES  ------  ------  ------

@media (max-width:769px){
    .menu-header{
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        .menu-desktop-logo{
            display: none;
        }
        .menu-mobile-logo, .menu-mobile-cross{
            display: inline;
            color: $color-violet;
            padding: 20px;
        }
        .menu-items{
            display: none;
        }

        #menu-mobile:checked ~ .menu-items {
            display: block;
            position: absolute;
            width: 100%;
            margin: auto;
            text-align: center;
            margin-top: 250px;
            background-color: rgba($color: #572EE5, $alpha: 0.7);
            a{
                color: white;
            }
            #buttom-create{
                display: none;
            }
        }
    }

    
    .section-serch{
        .title-section-serch{
            font-size: 25px;
        }
        .figure-section-serch{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .section-serch-img{
                width: 80%;
                margin: auto;
                margin-top: 10px;
            }
        }
        form .input-search{
            width: 80%;
            margin:0px 20px 0px 30px;
            border:solid 1px $color-violet;
            padding: 5px;
            border-radius: 20px;
            transform: translateY(-1px);
            background-image: url(../img/icon-search.svg);
            background-repeat: no-repeat;
            background-position: right;
            
        }
    }

    .main{
        margin:30px;
        p{
            padding: 0px 25px 0px 25px;
        }
    }
}
